mat-sidenav-container { 
    height: 100%;
}

mat-sidenav, mat-sidevav-content {
    padding: 16px;
}

mat-sidenav { 
    width: 200px;
}

#map{
    width: 100%;
    height: 100%;
    background-color: red;
}